/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --primary-color: #3498db;
    --background-color: #ffffff;
    --secondary-background: #c3cad493;
    --testing-background: #fc7df5;
    --highlight: #dcdf42;
    --text-color: #333333;
    --light-text-color: #f5f5f5;
}
body, html {
    margin: 0;
    padding: 0;
}
.body {
    margin: 0;
    font-family: system-ui, "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--background-color);
    color: var(--text-color);
}
.page { 
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(220px, .5fr) minmax(440px, 2fr) minmax(220px,1fr);
    grid-template-rows: .25fr .5fr 1fr 1fr 1fr 1fr; 

}
.dashboard {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 220px;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    grid-column: 1/2;
    grid-row: 1 / -1;
}
.dashboard button {
    background-color: transparent;
    border: none;
    color: var(--light-text-color);
    font-size: 50px;
    font-weight: bold;
    padding: 12px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: ce;
    width: 100%;
}
.dashboard .logo-area {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-self: flex-start;
    margin: 0;
    font-size: 16px;
}

.dashboard .logo-area h1 {
    margin: 0;
}
.dashboard .logo-area img {
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
}
.dashboard .main-menu {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.dashboard .secondary-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-top: 20px;
}

.dashboard button img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    display: inline-block;
    flex-shrink: 0;
    filter: brightness(0) invert(1);
}

.dashboard button span {
    vertical-align: middle;
}


.trending-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
/* Header Styles */
.header {
    grid-row: 1 / 2;
    grid-column: 2/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}
.header .search {
    width: 65%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-radius: 4px;
}
.header .search input {
    width: minmax(100%, 400px);
    overflow: hidden;
    border: none;
    outline: none;
    font-size: 42px;
    border-radius: 15px;
    padding: 6px 6px;
    margin-left: 8px;
    background-color: var(--secondary-background);
}
.header .profile {
    width: 35%;
    display: flex;
    justify-content: space-between;

}

.header .profile button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.header .search img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.header button img {
    cursor: pointer;
    border: none;
    outline: none ;
    width: 50x;
    height: 50px;
    
}

/* Subheader */
.sub-header {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);

}
.sub-header .left-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 65%;
}
.sub-header .left-column .welcome-message {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.sub-header .left-column img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.sub-header .left-column h1 {
    font-size: 30px;
    margin: 0;
}
.sub-header .left-column h2 {
    font-size: 18px;
    margin: 0;
}
.sub-header .right-column {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}
.sub-header .right-column button {
    font-size: 30px;
    border: none;
    color: var(--light-text-color);
    padding: 12px 60px;
    background: var(--primary-color);
    border-radius: 30px;
    outline: none;
    display: flex;
    align-items: center;
}


.sub-header .right-column button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


/* Projects */
.projects {
    grid-row: 3 / -1;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: orange;
}

.project-card .functions img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 15px;
    filter: brightness(0) invert(1);
}

/* Announcements */
.announcements {
    grid-row: 3 / 5;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    

    background-color: yellow;
}

/* Trending */
.trending {
    grid-row: 5 / 7;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    

    background-color: yellowgreen;
}
